:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --link: #646cff;
  --hover: #535bf2;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.App {
  display: flex;
  align-items: center;
}

.todo-card {
  border: #646cff 1px solid;
  border-radius: 10px;
  padding: 30px;
  margin: 0 40px;
  width: 400px;
  height: max-content;
  min-height: 300px;
  font-weight: 300;
  text-align: justify;
  display: flex;
  flex-direction: column;
}

.link {
  width: 100%;
  text-align: end;
}

.title {
  font-size: 2em;
  line-height: 1.1;
}

input:focus,
textarea:focus {
  outline: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  color: var(--hover);
}

ul {
  list-style-type: none;
}

li {
  margin: 10px 5px;
}
